* {
    font-family: 'helvetica', sans-serif;
    line-height: 1.5;
}

body {
    margin: 0 48px;
}

header {
    top: 0;
    background-color: rgb(238, 238, 238);
    z-index: 9999;
    border-bottom: 2px solid rgba(0, 0, 0, 0.2);
    height: 100px;
}

h1 {
    margin: 24px 40px;
}

.split {
    border-right: 1px solid #333;
}

.page-header {
    width: 80%;
    margin-bottom: 32px;
}

#container {
    margin-top: 120px;
    padding: 0;
}

.rw1 {
    border: 1px solid black;
    border-radius: 5px;
    padding: 8px;
}

input {
    margin: 8px 8px 0;
    border-radius: 5px;
    border: 1px solid black;
    padding: 8px;
}

input:focus {
    border: 1px solid black;
    border-radius: 5px;
}

button {
    border-radius: 5px;
    box-shadow: none;
    border: 1px solid black;
    padding: 8px;
    
}

button:hover {
    background-color: rgb(223, 223, 223);
}

button:active {
    background-color: black;
    color: white;
    transition: 0.1s linear;
}

.search-results {
    margin-top: 32px;
}

.cities {
    margin-top: 8px;
    margin-right: 16px;
    display: inline-block;
}

.clear-button {
    margin: 8px 0;
}

#cities-list {
    list-style: none;
}

.forecast-div {
    margin-top: 32px;
    padding: 0;
}

.left-header {
    margin-bottom: 16px;
}

label {
    margin-right: 8px;
}

.current-box {
    margin-top: 20px;
    width: 60%;
}

.city-item {
    padding: 8px;
}